footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    translate: -50% 0;
    height: 2vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    font-size: 1em;
    /* background-color: blue; */
}
@media (max-width: 767px) {
    footer{
        font-size: 1em;
    }
}
@media (max-width: 480px){
    footer{
        font-size: .6em;
    }
}
