.forecastTab{
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    /* padding-left: 2rem; */
    /* background-color: blue; */
}
.locationName{
    margin-top:.5em;
    font-size: 2.5em;
    /* margin-left: 6rem; */
}
.fiveDaycardContainer{
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 2em;
    /* margin-left: 5rem; */
    /* margin-left: -3em; */
}
.fiveDaycard{
    width: 15em;
    height: 18em;
    border: 2px solid #001b5a;
    border-radius: 25px;
    padding: 1em;
}
h3{
    font-size: 2.5em;
}
.avgTemp{
    font-size: 2.2em;
}
.weatherText{
    font-size: 1.5em;
}   
.weatherIcon{
    height: 7em;
    width: auto;
    margin-right: 5px;
}
.dataContainer{
    display: flex;
    margin-top: 1em;
    align-items: center;
}