header{
    width: 100%;
    position: relative;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding-top: 24px;
    align-self: center;
    /* border-bottom: solid red; */
}
.search{
    width: 25%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.searchBtn{
    height:3.1em;
    border: none;
    cursor: pointer;
    background: inherit;
    align-self: center;
    background-color: hsl(222, 100%, 11%);
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    padding-right: 10px;
}
.searchBtn img{
    height: 2.5em;
    width: auto;
}
input{
    height: 2.5em;
    width: 100%;
    font-size: 1.2em;
    border: none;
    padding: 5px;
    padding-left: 20px;
    border-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: hsl(222, 100%, 11%);
    color: white;
}
input:focus{
    background-color: hsl(222, 100%, 13%);
    outline: .5px solid #001b5a;
    border: .5px solid #001b5a;
    border-right: none;
}
input::placeholder{
    color: rgb(162, 162, 162)
}
input:-webkit-autofill {
    background-color: hsl(222, 100%, 13%) !important;
}



.toggleContainer{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.unit,.mode{
    display: flex;
    border: solid 1px #001b5a;
    border-radius: 999px;
    gap: 5px;
    /* width: fit-content; */
    /* position: relative; */
    /* height: fit-content; */
} 
.toggle{
    background:none;
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    font-size: 1.2em;
    padding: 0.3em 1.5em;
    border-radius: 999px;
}
.climatic{
    font-size: 4em;
}
.active{
    background-color: blue;
}
.activeMode{
    background-color: blue;
}

@media (max-width: 768px) {
    header {
      flex-direction: column;
      height: auto;
      gap: 1em;
    }
  
    .search {
      width: 90%;
    }
  
    .toggleContainer {
      width: 90%;
      flex-direction: column;
      gap: 10px;
    }
  
    .climatic {
      font-size: 2.5em;
      text-align: center;
    }
  
    input {
      font-size: 1em;
    }
  
    .toggle {
      padding: 0.4em 1em;
      font-size: 1em;
    }
  }
  
  