header{
    width: 100%;
    position: relative;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding-top: 24px;
    align-self: center;
    /* border-bottom: solid red; */
}
.search{
    width: 25%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.searchBtn{
    height:3.1em;
    border: none;
    cursor: pointer;
    background: inherit;
    align-self: center;
    background-color: hsl(222, 100%, 11%);
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    padding-right: 10px;
}
.searchBtn img{
    height: 2.5em;
    width: auto;
}
input{
    height: 2.5em;
    width: 100%;
    font-size: 1.2em;
    border: none;
    padding: 5px;
    padding-left: 20px;
    border-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: hsl(222, 100%, 11%);
    color: white;
}
input:focus{
    background-color: hsl(222, 100%, 13%);
    outline: .5px solid #001b5a;
    border: .5px solid #001b5a;
    border-right: none;
}
input::placeholder{
    color: rgb(162, 162, 162)
}
input:-webkit-autofill {
    background-color: hsl(222, 100%, 13%) !important;
}
.toggleContainer{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.unit,.mode{
    border: solid 1px #001b5a;
    border-radius: 999px;
    width: fit-content;
    position: relative;
    height: fit-content;
} 
.toggle{
    display: inline-block;
    padding: 5px;
    margin: 8px;
    background:none;
    color: white;
    border: none;
    cursor: pointer;
}
.climatic{
    font-size: 4em;
}


  /* Shared styles for both buttons */
/* .option {
    flex: 1;
    background: none;
    border: none;
    padding: 10px 10px;
    border-radius: 999px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    height: 20px;
}*/
/* Active indicator */
/* .unit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: calc(50%);
    height: calc(100%);
    background: #82CFFE;
    border-radius: 999px;
    z-index: 0;
    transition: left 0.3s ease;
}  */

/* When second button is active, move the background */
/* .unit.second-active::before {
left: calc(50% + 5px);
} */

  