header{
    width: 100%;
    position: relative;
    font-size: 14px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    /* border-bottom: solid red; */
}
.search{
    width: 25%;
    justify-self: center;
    display: flex;
}
input{
    height: 2em;
    width: 100%;
    font-size: 1.2em;
    border: none;
    padding: 5px;
    padding-left: 20px;
    border-radius: 999px;
    background-color: hsl(222, 100%, 11%);
    color: white;
}
input:focus{
    background-color: hsl(222, 100%, 13%);
    outline: 2px solid #001b5a;
    border: 2px solid #001b5a;
}
input::placeholder{
    color: rgb(162, 162, 162)
}

.unit,.mode{
    border: solid 1px #001b5a;
    border-radius: 999px;
    width: fit-content;
    position: relative;
    height: fit-content;
} 
.toggle{
    display: inline-block;
    padding: 5px;
    margin: 8px;
    background:none;
    color: white;
    border: none;
}
.searchBtn{
    height: 1.7em;
    border: none;
    cursor: pointer;
    background: inherit;
    margin-left: 5px;
    align-self: center;
}
.searchBtn img{
    height: 2em;
    width: auto;
}

  /* Shared styles for both buttons */
/* .option {
    flex: 1;
    background: none;
    border: none;
    padding: 10px 10px;
    border-radius: 999px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    height: 20px;
}*/
/* Active indicator */
/* .unit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: calc(50%);
    height: calc(100%);
    background: #82CFFE;
    border-radius: 999px;
    z-index: 0;
    transition: left 0.3s ease;
}  */

/* When second button is active, move the background */
/* .unit.second-active::before {
left: calc(50% + 5px);
} */

  