.todaySummary{
    width: 40%;
    height: 49vh;
    display: flex;
    border: 2px solid #001b5a;
    border-radius: 25px;
    /* margin-left: 25px; */
}
.mainImg{
    display: flex;
    align-items: center;
}
.mainImg img{
    height: 18em;
    width: 18em;
}
.summaryInfo > *{
    margin-top: 15px;
}
.mainTemp{
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 1.2em;
}
.weather{
    font-size: 2.5em;
}
.description{
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
.location{
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
.Icon{
    height: 1em;
    width: auto;
    margin-right: 5px;
}
@media (max-width: 991px) {
    .todaySummary {
        width: 100%;
        height: auto;
        align-self: center;
        align-items: center;
        text-align: center;
        padding: 0;
      }
      .summaryInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em;
    }
    .summaryInfo > *{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .todaySummary {
      width: 100%;
      height: auto;
      align-items: center;
      text-align: center;
      /* padding-left: 1em; */
    }
    .mainImg img {
      height: 10em;
      width: 10em;
      margin: 0;
    }
    .summaryInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em;
    }
    .summaryInfo > *{
        margin-top: 5px;
    }
    .mainTemp {
      font-size: 2.5rem;
      margin-top: .5em;
    }
    .weather{
        font-size: 1.7rem; 
        /* background-color: red; */
    } 
    .description, .location {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 300px) {
    .mainImg img {
        height: 7em;
        width: 7em;
        margin: 0;
      }
      .summaryInfo > *{
        margin-top: 3px;
    }
      .mainTemp {
        font-size: 1.75rem;
      }
      .weather{
        font-size: 1.4rem; 
    } 
    .description, .location {
        font-size: 1rem;
      }
      .Icon{
        height: .7em;
        width: auto;
        margin-right: 2px;
    }
  }
  