.todaySummary{
    width: 40%;
    height: 49vh;
    display: flex;
    border: 2px solid #001b5a;
    border-radius: 25px;
    margin-left: 25px;
}
.mainImg{
    height: 100%;
    width: 50%;
}
.summaryInfo{
    background-color: blue;
}
.mainTemp{
    font-size: 4em;
    font-weight: bold;
    margin-top: 1.5em;
}
.weather{
    font-size: 2em;
}
.description{
    font-size: 1em;
}
.location{
    font-size: 1em;
}